name: Docs Check

on:
  pull_request:
  push:
    branches: [ main ]

permissions:
  contents: read

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5
      - uses: DavidAnson/markdownlint-cli2-action@b4c9feab76d8025d1e83c653fa3990936df0e6c8
        with:
          globs: |
            **/*.md
            !**/node_modules/**
          config: .markdownlint.json

  linkcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5
      - uses: lycheeverse/lychee-action@7cd0af4c74a61395d455af97419279d86aafaede
        with:
          args: --no-progress --verbose --exclude-mail "**/*.md"
